/* Add general styles */
#navigation .nav-link {
  color: #000; /* Default link color */
  text-decoration: none;
}

#navigation .nav-link:hover {
  color: #7431FA; /* Hover color */
}

#navigation .nav-link.active-link {
  color: #2e0974 !important; /* Force active link color */
  font-weight: bold;
}
